@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}

div {
	width: 100%;
}

select {
	width: 70px;
	text-align: center;
}

input {
	width: 250px;
}

button {
	width: 80px;
}

.search {
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.only_bottom_show {
	border: 1px solid transparent;
	border-bottom: 1px solid #000;
	outline: none;
}

.city {
	border: 1px transparent;
	width: auto;
	padding-right: 10px;
}

.searchButton {
	font-size: 80px;
}